@import './varibale';

body{
    font-family: $font ;
}


::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color: $mainColor, $alpha: 0.6);
  }